<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "global_styles.html" %}
</head>

<body>

<!-- Div holding the entire page -->
<div class="wrapper">

    {% include "sidebar.html" %}

    <div id="content">

        {% include "menu_bar.html" %}

        <div class="container">
            This page is unavailable.
        </div>
    </div>

</div>
{% include "global_js.html" %}
<!-- Personal JS -->
<script src={% static "errorpage/errorpage.js" %}></script>
</body>
</html>