<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "global_styles.html" %}
</head>

<body>

<!-- Div holding the entire page -->
<div class="wrapper">

    {% include "sidebar.html" %}

    <div id="content">

        {% include "menu_bar.html" %}

        <div class="container">
            <div class="row">
                <div class="col" id="patients-col">
                    <div class="container">
                      <h2>All Patients</h2>
                          <form action="/patients/" method="POST"> {% csrf_token %}
                              <div class="float-left" align="left">
                                {{ form.search_terms }}
                              </div>
                              <div class="float-left" align="right">
                                <button type="submit" name="submit" class="btn btn-warning">Search</button>
                              </div>
                              {% if filter %}
                                <div>
                                <strong class="ml-2">Showing results for search: </strong> {{ filter }}
                                </div>
                              {% else %}
                                <div>
                                <a class="ml-2">Showing all patients. </a>
                                </div>
                              {% endif %}
                          </form>

                      {% if not patients %}
                        <div class="alert alert-danger" role="alert" style="margin-top:20px">
                            <strong>Error: </strong>No patients found.
                        </div>
                      {% else %}
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Last</th>
                            <th>First</th>
                            <th>Profile</th>
                          </tr>
                        </thead>
                        <tbody style="overflow-y: scroll; height: 25px">
                        {% for patient in patients %}
                          <tr>
                            <td>{{patient.last_name}}</td>
                            <td>{{patient.first_name}}</td>
                            <td>
                                <a class="text-primary" href="/patients/profile/?id={{patient.id}}">View Profile</a>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a class="btn btn-success" href="create/" role="button">Add New Patient</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% include "global_js.html" %}
<!-- Personal JS -->
<script src={% static "patients/patients.js" %}></script>
</body>
</html>
