<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "global_styles.html" %}
</head>

<body>

<!-- Div holding the entire page -->
<div class="wrapper">

    {% include "sidebar.html" %}

    <div id="content">

        {% include "menu_bar.html" %}

        <div class="container">
            {% if failed_creation %}
                <div class="alert alert-danger" role="alert">
                    <strong>Form requirements not met!</strong> Try entering your patient information again.
                </div>
            {% endif %}
            <h2> New Patient </h2>
            <form action="" method="POST"> {% csrf_token %}
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    {{ form.last_name }}
                </div>
                <div class="form-group">
                    <label for="recordNumber">Medical Record Number</label>
                    {{ form.record_number }}
                </div>
                <div class="form-group">
                    <label for="birthDate">Birthday </label>
                    {{ form.birth_date }}
                </div>
                <button type="submit" class="btn btn-warning">Create New Patient</button>
            </form>
        </div>
    </div>

</div>



{% include "global_js.html" %}
<!-- Personal JS -->
<script src={% static "patients/patients.js" %}></script>
</body>
</html>