<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "global_styles.html" %}
</head>

<body>

<!-- Div holding the entire page -->
<div class="wrapper">

    {% include "sidebar.html" %}

    <div id="content">

        {% include "menu_bar.html" %}

        <form action="/patients/profile/procedures/" method="post">{% csrf_token %}
        <div class="container-fluid">
            {{ form.roadmap }}
        </div>
            <button type="submit" class="btn btn-warning">Update Patient</button>
        </form>
    </div>

</div>


{% include "global_js.html" %}
<!-- Personal JS -->
<script src={% static "patients/patients.js" %}></script>
</body>
</html>