<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "global_styles.html" %}
</head>

<body>

<!-- Div holding the entire page -->
<div class="wrapper">

    {% include "sidebar.html" %}

    <div id="content">

        {% include "menu_bar.html" %}
        {% if failed_update %}
            <div class="alert alert-danger" role="alert">
                <strong>Form requirements not met!</strong> Try updating your patient information again.
            </div>
        {% endif %}


        <div class="container-fluid">
            <div class="row">
                <div class="col">

                    <a class="btn btn-warning mb-4" href="/patients/" role="button">Return To Patients</a>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card bg-light mb-3">
                        <div class="card-header">
                            <div style="font-size: 200%;">
                                {{ patient.first_name }} {{ patient.last_name }}
                            </div>
                            <div>
                                MRN: {{ patient.record_number }}
                            </div>
                            <div>
                                DOB: {{ patient.bday }}
                            </div>
                        </div>

                        <div class="card-body">

                            <div class="card bg-light my-3">

                                <div class="card-header">Alerts</div>
                                <div class="card-body">
                                    <p class="card-text">Alerts go here</p>
                                </div>
                            </div>

                            <div class="card bg-light my-3">

                                <div class="card-header">Scheduled For</div>
                                <div class="card-body">
                                    <h5 class="card-title">Procedure Name</h5>
                                    <p class="card-text">Procedure Date</p>
                                </div>
                            </div>

                            <div class="card bg-light my-3">

                                <div class="card-header">Procedure Map(s)</div>
                                <div class="card-body">
                                    <p class="card-text">Procedure Name</p>
                                </div>
                            </div>

                            <form action="/patients/profile/?id={{ patient.id }}" method="post">{% csrf_token %}
                                <button type="submit" class="btn btn-warning">Update Patient</button>
                            </form>

                        </div>
                    </div>
                </div>

                <div class="col-sm-9">

                    <div class="card bg-light mb-3">
                        <div class="card-header text-center" style="font-size:250%;">Patient Records</div>
                        <div class="card-body">

                            <div class="card bg-light my-3">

                                <div class="card-header">Next Procedures</div>
                                <div class="card-body">
                                    <h5 class="card-title">Procedure Name</h5>
                                    <p class="card-text">Procedure Date</p>
                                    <h5 class="card-title">Procedure Name</h5>
                                    <p class="card-text">Procedure Date</p>
                                </div>
                            </div>

                            <div class="card bg-light my-3">

                                <div class="card-header">Remaining Procedures</div>
                                <div class="card-body">
                                    <h5 class="card-title">Procedure Name</h5>
                                    <h5 class="card-title">Procedure Name</h5>
                                </div>
                            </div>

                            <div class="card bg-light my-3">

                                <div class="card-header">Analytics</div>
                                <div class="card-body">
                                    <h5 class="card-title">Analytic Name</h5>
                                    <p class="card-text">Im guessing something like average time to schedule, time since
                                        starting process,
                                        estimated time to complete procedure workflow can go here</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default text-left">
                                <div class="panel-body">
                                    <h1 align="center">Patient Records</h1>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <h4>Next Procedures:</h4>
                        </div>
                        <div class="col-sm-9">
                            <div class="well">
                                <p>I think this should be a list of procedures, most likely 1 or 2 in the next level of
                                    the workflow.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h4>Procedures Remaining:</h4>
                        </div>
                        <div class="col-sm-9">
                            <div class="well">
                                <p>I think this should be a list of procedures, all required to reach the end goal of
                                    the workflow.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h4>Analytics:</h4>
                        </div>
                        <div class="col-sm-9">
                            <div class="well">
                                <p>Im guessing something like average time to schedule, time since starting process,
                                    estimated time to complete procedure workflow can go here</p>
                            </div>
                        </div>
                    </div>
-->
                </div>
            </div>
        </div>
    </div>

</div>


{% include "global_js.html" %}
<!-- Personal JS -->
<script src={% static "patients/patients.js" %}></script>
</body>
</html>