<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "global_styles.html" %}
</head>

<body>

<!-- Div holding the entire page -->
<div class="wrapper">

    {% include "sidebar.html" %}

    <div id="content">

        {% include "menu_bar.html" %}

        <div class="container">
            {% if failed_creation %}
                <div class="alert alert-danger" role="alert">
                    <strong>Form requirements not met!</strong> Try entering your patient information again.
                </div>
            {% endif %}
            <h2> Update information for: {{ patient.first_name }} {{ patient.last_name }} </h2>
            <form action="/patients/profile/update/?id={{ patient.id }}" method="POST"> {% csrf_token %}
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    {{ form.last_name }}
                </div>
                <div class="form-group">
                    <label for="recordNumber">Medical Record Number</label>
                    {{ form.record_number }}
                </div>
                <div class="form-group">
                    <label for="birthDate">Birthday </label>
                    {{ form.birth_date }}
                </div>
                <div class="form-group">
                    <label for="referringPhysician">Referring Physician</label>
                    {{ form.referring_physician }}
                </div>
                <div class="form-group">
                    <label for="dateOfReferral">Date of Referral</label>
                    {{ form.date_of_referral }}
                </div>
                <button type="submit" class="btn btn-warning mb-4">Update Patient</button>
            </form>


            <button type="button" class="btn btn-danger my-4" data-toggle="modal" data-target="#deletePatient">
                Delete Patient
            </button>
            <div class="modal fade" id="deletePatient" tabindex="-1" role="dialog" aria-labelledby="deletePatientLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="deletePatientLabel">Delete Patient</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5>Are you sure?</h5>
                        </div>
                        <div class="modal-footer">
                            <form action="/patients/profile/delete/?id={{ patient.id }}" method="POST"> {% csrf_token %}
                                <button type="submit" class="btn btn-danger mb-4">Delete Patient</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


{% include "global_js.html" %}
<!-- Personal JS -->
<script src={% static "patients/patients.js" %}></script>
</body>
</html>