<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "global_styles.html" %}
    {% load roadmap_extras %}

</head>

<body>

<!-- Div holding the entire page -->
<div class="wrapper">

    {% include "sidebar.html" %}

    <div id="content">

        {% include "menu_bar.html" %}


        <div class="container">
            <h2><strong>Procedures Behind Schedule: </strong>{{ percent_behind }}%</h2>
            <div class="accordion" id="accordion">
                <div class="row">
                    <div class="col-12">
                        <div class="card text-white bg-{% cycle 'primary' 'secondary' 'success' 'info' 'warning' %} mb-2">
                            <div class="card-header" id="heading{{ phase_num }}">
                                <h5 class="mb-0">
                                    <button class="btn btn-link text-white" type="button"
                                            data-toggle="collapse"
                                            data-target="#collapse{{ phase_num }}"
                                            aria-expanded="true"
                                            aria-controls="collapse{{ phase_num }}">
                                        Individual Procedure Statistics
                                    </button>
                                </h5>
                            </div>


                            <div id="collapse{{ phase_num }}" class="collapse"
                                 aria-labelledby="heading{{ phase_num }}"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    {% for procedure in procedures %}
                                        <ul><strong>{{ procedure.procedure_name }}:</strong>
                                            &nbsp;&nbsp;Average: {% average_completion_time procedure.id %} &nbsp;&nbsp;Goal: {{ procedure.est_days_to_complete }}
                                            days&nbsp;&nbsp;<a href="/procedures/view_procedure/?id={{ procedure.id }}">View
                                                Procedure</a></ul>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            All patients done within last 6 months
                <ul>
                    {% for patient in 6_month_done %}
                        <li> {{ patient.first_name }} {{ patient.last_name }}: {{ patient.patient_completion_date.date }}</li>
                    {% endfor %}
                </ul>
            </div>
                <canvas id="patientsIn6MonthsChart"></canvas>
        </div>
    </div>

</div>
</div>


{% include "global_js.html" %}
<!-- Personal JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>

<script type="text/javascript">
    var received_data = '{{ 6_months_done_data|safe }}';
</script>


<script src={% static "analytics/chart_analytics.js" %}></script>

</body>
</html>