<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "global_styles.html" %}
</head>

<body>
<!-- Div holding the entire page -->
<div class="wrapper">

    {% include "sidebar.html" %}

    <div id="content">

        {% include "menu_bar.html" %}
        <div class="container-fixed">
            <h2>{{ roadmap.roadmap_name }}</h2>
            <form action="/roadmaps/view_roadmap/add/" method="POST"> {% csrf_token %}
                <div class="form-group">
                    {{ form.procedure }}
                </div>

                <div class="form-group">
                    {{ form.phase }}
                </div>
                <button type="submit" class="btn btn-warning mb-4">Add to Roadmap</button>
            </form>
        </div>
        <div class="container-fixed">
            <form action="/roadmaps/view_roadmap/remove/" method="post">{% csrf_token %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Procedure Name</th>
                        <th scope="col">Phase</th>
                        <th scope="col">Modify Item</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for procedure, phase in roadmap_pairs|dictsort:1 %}
                        <tr>
                            <td>{{ procedure.procedure_name }}</td>
                            <td>{{ phase }}</td>
                            <td><input type="checkbox" name="selection[]" value="{{ procedure.id }},{{ phase }}"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="button" class="btn btn-warning my-4" data-toggle="modal" data-target="#removePairs">
                    Remove Selected Pairs
                </button>
                <div class="modal fade" id="removePairs" tabindex="-1" role="dialog" aria-labelledby="removePairsLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="removePairsLabel">Remove Selected Pairs</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5>Are you sure?</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger mb-4">Removed Selected Pairs</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form action="/roadmaps/view_roadmap/delete/" method="post">{% csrf_token %}
            <button type="button" class="btn btn-danger my-4" data-toggle="modal" data-target="#deleteRoadmap">
                    Delete Roadmap
                </button>
                <div class="modal fade" id="deleteRoadmap" tabindex="-1" role="dialog" aria-labelledby="deleteRoadmapLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="deleteRoadmapLabel">Delete Roadmap: {{ roadmap.roadmap_name }}</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5>Are you sure?</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger mb-4">Delete Roadmap</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% include "global_js.html" %}
<script src={% static "roadmaps/roadmaps.js" %}></script>

</body>
</html>