<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "global_styles.html" %}
</head>

<body>

<!-- Div holding the entire page -->
<div class="wrapper">

    {% include "sidebar.html" %}

    <div id="content">

        {% include "menu_bar.html" %}

        <div class="form-group">
            <label for="selectProcedures">Procedures</label>
            <select multiple class="form-control" id="selectProcedures">
                {% for procedure in procedures %}
                    <option value="{{ procedure.id }}">{{ procedure.procedure_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="procedurePhase">Phase Number</label>
            <input type="number" class="form-control" id="procedurePhase" placeholder="0-99" min="1" step="1">
        </div>


        <button type="button" class="btn btn-warning mb-4" id="addSelection">Add to Roadmap</button>

    <form>
        <div class="form-group">
            {{ form.roadmap_name }}
        </div>
        {{ form.procedure_phase_pairs }}
        <button type="submit" class="btn btn-warning my-4" id="createRoadmap">Create Roadmap</button>
    </form>

    </div>
</div>
{% include "global_js.html" %}
</body>
</html>