<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "global_styles.html" %}
</head>

<body>
<!-- Div holding the entire page -->
<div class="wrapper">

    {% include "sidebar.html" %}

    <div id="content">

        {% include "menu_bar.html" %}

        <div class="container-fixed">
            <h2>{{ roadmap.roadmap_name }}</h2>
            <form action="/roadmaps/view_roadmap/?id={{ roadmap.id }}"
                  method="post"> {% csrf_token %}
                <button type="submit" class="btn btn-warning mb-4">Modify Roadmap</button>
            </form>
        </div>
        <div class="row">

            {% for phase_num, procedure_list in seperated_by_phase.items %}
                <div class="col-12">
                    <div class="card text-white bg-{% cycle 'primary' 'secondary' 'success' 'info' 'warning' %} mb-3">
                        <div class="card-header"><h5 class="mt-2">Phase: {{ phase_num }}</h5></div>
                        <div class="card-body row">
                            {% for procedure in procedure_list %}
                                <div class="card text-dark bg-light mb-3 mx-3 col" style="max-width: 16rem;
                                                                                          min-width: 16rem;">

                                    <div class="card-body">
                                        <h5 class="card-title">{{ procedure.procedure_name }}</h5>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>

    {% include "global_js.html" %}</div>
<script src={% static "roadmaps/roadmaps.js" %}></script>

</body>
</html>