body {
    background-image: url("https://lh3.googleusercontent.com/iB0gNhHPB6BzMICHTdVDIQo8I8Y6r6Z8xHx2c375NxaspPFxBKEMLg4DllmV4vCHpqZ_WJawY5xi3AcdGxTIKlENSRuZ2RmOnqy6ZFqTmXNR9DilWF_k7tEh67EXqA-sWkqGbK0sMt6X4oDCpxCGeSXVZiOg_LkiBmOpshBHXAysETZmWHzgGSYXIgnm9QkeB4HfeQuhw7bV6MFvyoJIUThRkaimCQKxH5qHMsx4DSqmgi9vcN_y5FpCUAci0Z7F-IJ88ph6ZHSVgTLTzGPWbAtUwvOXZwA2P8mG61WXX7EXAYYl54iVTG1QBeWkRe2vv1eu-jW6ZAdiTqNU3Ugtfh6Qmz8urDnQQRzNksGUe2CAfWLYSGJFXpaVMBWRb81VwnuVfsVpSLIapB0RzhadtHUVfbdZljw-uBNtOJ_p7EkhzPKLcAaIpbh5RxikuPyRGvJDDyR4zmeZd5Z73OwPZ8om4yoBqckJKBoK4_iNACkKCeJYleNddFcIA9LBmppE2Jh6ygrxHo4vhycI6OkNjZvqEUXGPr8NmiIE1BVvWtJjQozrg4WY6PIFOT_CZCy9LxYmQL-c8MGQSayKoRlBeEEhyBtlPot0pD1-plFT5fsFamHQcUOG7OxSSUkR-L9AwKyQ-ggzud9ChNLW-jt1C4NgXugy_NM=w1650-h928-no");
    background-position: center;
    background-size: cover;
}

.container-fixed {
    background: white;
    margin: 13% auto;
    padding: 30px 30px;
    border: 1px solid black;
    border-radius: 10px;
    width: 40%;
}