<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "global_styles.html" %}
</head>

<body>
<!-- Div holding the entire page -->
<div class="wrapper">

    {% include "sidebar.html" %}

    <div id="content">

        {% include "menu_bar.html" %}
        {% if failed_creation %}
                <div class="alert alert-danger" role="alert">
                    <strong>Form requirements not met!</strong> Try entering your procedure data again.
                </div>
            {% endif %}
        <div class="container-fixed">
            <h2> New Procedure </h2>
            <form action="" method="POST"> {% csrf_token %}
                <div class="form-group">
                    <label for="procedure_name">Procedure Name</label>
                    {{ form.procedure_name }}
                </div>
                <div class="form-group">
                    <label for="notes">Notes</label>
                    {{ form.notes }}
                </div>
                <button type="submit" class="btn btn-warning">Create New Procedure</button>
            </form>
        </div>
    </div>

</div>


{% include "global_js.html" %}
<!-- Personal JS -->
<script src={% static "procedures/procedures.js" %}></script>
</body>