<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "global_styles.html" %}
</head>

<body>

<!-- Div holding the entire page -->
<div class="wrapper">

    {% include "sidebar.html" %}

    <div id="content">

        {% include "menu_bar.html" %}


        <div class="container">

            <div class="row">
                <div class="col" id="procedures-col">
                    <div class="container">
                        <h2>All Procedures</h2>
                          <form action="/procedures/" method="POST"> {% csrf_token %}
                              <div class="float-left" align="left">
                                {{ form.search_terms }}
                              </div>
                              <div class="float-left" align="right">
                                <button type="submit" name="submit" class="btn btn-warning">Search</button>
                              </div>
                              {% if filter %}
                                <div>
                                <strong class="ml-2">Showing results for search: </strong> {{ filter }}
                                </div>
                              {% else %}
                                <div>
                                <a class="ml-2">Showing all procedures. </a>
                                </div>
                              {% endif %}
                          </form>
                      {% if not procedures %}
                        <div class="alert alert-danger" role="alert" style="margin-top:20px">
                            <strong>Error: </strong>No procedures found.
                        </div>
                      {% else %}
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Procedure Name</th>
                                <th>More Info</th>
                            </tr>
                            </thead>
                            <tbody style="overflow-y: scroll; height: 25px">
                            {% for procedure in procedures %}
                                <tr>
                                    <td>{{ procedure.procedure_name }}</td>
                                    <td>
                                        <a class="text-primary" href="/procedures/view_procedure/?id={{ procedure.id }}">View
                                            Procedure</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                      {% endif %}
                    <a class="btn btn-success" href="create/" role="button">Add New Procedure</a>

                    </div>
                </div>
            </div>


        </div>

    </div>
</div>

{% include "global_js.html" %}
<!-- Personal JS -->
<script src={% static "procedures/procedures.js" %}></script>
</body>
</html>
