{% extends 'application.html' %}
{% block content %}
<div class="container-fixed">
    <h2> Procedures </h2>
    <form action="/submit/" method="POST"> {% csrf_token %}
        <div class="procedures-group">
            <label for="procedure_name">Procedure Name</label>
            {{ form.procedure_name }}
        </div>
        <div class="procedures-group">
            <label for="expired_date">Expiration Date</label>
            {{ form.expired_time }}
        </div>
        <div class="procedures-group">
            <label for="procedure_date">Procedure Date</label>
            {{ form.procedure_date }}
        </div>
        <div class="procedures-group">
            <label for="notes">Notes</label>
            {{ form.notes }}
        </div>
        <button type="submit" class="btn btn-warning">Submit</button>
    </form>
</div>
{% endblock %}