<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "global_styles.html" %}
</head>
<body>
<!-- Div holding the entire page -->
<div class="wrapper">

    {% include "sidebar.html" %}

    <div id="content">

        {% include "menu_bar.html" %}

        <div class="container-fixed">
            <h2> Update Procedure: {{ procedure.procedure_name }}</h2>
            <form action="update/" method="POST"> {% csrf_token %}
                <div class="form-group">
                    <label for="procedure_name">Procedure Name</label>
                    {{ form.procedure_name }}
                </div>
                <div class="form-group">
                    <label for="time">Projected Timeline</label>
                    {{ form.time }}
                </div>
                <div class="form-group">
                    {{ form.time_frame.0 }}
                    {{ form.time_frame.1 }}
                </div>
                <div class="form-group">
                    <label for="notes">Notes</label>
                    {{ form.notes }}
                </div>
                <button type="submit" class="btn btn-warning mb-4">Update {{ procedure.procedure_name }}</button>
            </form>
            <form action="delete/" method="post">{% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete Procedure</button>
            </form>
        </div>
    </div>

</div>


{% include "global_js.html" %}
<!-- Personal JS -->
<script src={% static "procedures/procedures.js" %}></script>

</body>