<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "global_styles.html" %}
</head>

<body>

<!-- Div holding the entire page -->
<div class="wrapper">

    {% include "sidebar.html" %}

    <div id="content">

        {% include "menu_bar.html" %}

        {% if failed_update %}
            <div class="alert alert-danger" role="alert">
                <strong>Form requirements not met!</strong> Try updating your procedure information again.
            </div>
        {% endif %}
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card bg-light mb-3">
                        <div class="card-header">Procedure Info</div>
                        <div class="card-body">
                            <div class="card bg-light mb-3">
                                <div class="card-header">Procedure Name</div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ procedure.procedure_name }}</h5>
                                </div>
                            </div>
                            <div class="card bg-light mb-3">
                                <div class="card-header">Projected Timeline</div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ procedure.est_days_to_complete }} days</h5>
                                </div>
                            </div>
                            <div class="card bg-light mb-3">
                                <div class="card-header">Procedure Description</div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ procedure.procedure_info |default:"Description not provided" }}</h5>
                                </div>

                            </div>
                            <form action="/procedures/view_procedure/?id={{ procedure.id }}"
                                  method="post"> {% csrf_token %}
                                <button type="submit" class="btn btn-warning">Change Procedure Info</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "global_js.html" %}
<!-- Personal JS -->
<script src={% static "procedures/procedures.js" %}></script>
</body>
</html>
