<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "global_styles.html" %}
</head>

<body>

<!-- Div holding the entire page -->
<div class="wrapper">

    {% include "sidebar.html" %}

    <div id="content">

        {% include "menu_bar.html" %}

        <div class="container">
            <div class="row">
                <div class="col">
                    <form action="/procedures/" method="get"> {% csrf_token %}
                        <button type="submit" class="btn btn-warning">Return To Procedures</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Procedure Name</h2>
                    {{ procedure.procedure_name }}
                </div>
                <div class="col">
                    <h2>Procedure Info</h2>
                    {{ procedure.procedure_info }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form action="?id={{ procedure.id }}" method="post"> {% csrf_token %}
                        <button type="submit" class="btn btn-warning">Change Procedure Info</button>
                    </form>
                </div>
                <div class="col">
                    <form action="delete/" method="post">{% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete Procedure</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "global_js.html" %}
<!-- Personal JS -->
<script src={% static "procedures/procedures.js" %}></script>
</body>
</html>
