<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "global_styles.html" %}
</head>

<body>

<!-- Div holding the entire page -->
<div class="wrapper">

    {% include "sidebar.html" %}

    <div id="content">

        {% include "menu_bar.html" %}

        {% if failed_update %}
            <div class="alert alert-danger" role="alert">
                <strong>Form requirements not met!</strong> Try updating your procedure information again.
            </div>
        {% endif %}
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <a class="btn btn-warning mb-4" href="/procedures/" role="button">Return To Procedures</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Procedure Name</h2>
                    {{ procedure.procedure_name }}
                </div>
                <div class="col">
                    <h2>Procedure Info</h2>
                    {{ procedure.procedure_info }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form action="/procedures/view_procedure/?id={{ procedure.id }}" method="post"> {% csrf_token %}
                        <button type="submit" class="btn btn-warning">Change Procedure Info</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "global_js.html" %}
<!-- Personal JS -->
<script src={% static "procedures/procedures.js" %}></script>
</body>
</html>
