<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "global_styles.html" %}
</head>

<body>

<!-- Div holding the entire page -->
<div class="wrapper">

    {% include "sidebar.html" %}

    <div id="content">

        {% include "menu_bar.html" %}
        <div class="container-fixed">
            <h2> Update Procedure:</h2>
            <form action="/procedures/view_procedure/update/?id={{ procedure.id }}" method="POST"> {% csrf_token %}
                <div class="form-group">
                    <label for="assigned_date">Date Assigned</label>
                    {{ form.assigned_date }}
                </div>
                <div class="form-group">
                    <label for="scheduled_date">Scheduled Date</label>
                    {{ form.scheduled_date }}
                </div>
                <div class="form-group">
                    {{ form.scheduled.0 }}
                    {{ form.scheduled.1 }}
                </div>
                <div class="form-group">
                    <label for="completed_date">Date Completed</label>
                    {{ form.completed_date }}
                </div>
                <div class="form-group">
                    {{ form.completed.0 }}
                    {{ form.completed.1 }}
                </div>
                <div class="form-group">
                    <label for="notes">Notes</label>
                    {{ form.notes }}
                </div>
                <button type="submit" class="btn btn-warning mb-4">Update</button>
            </form>
        </div>
    </div>

</div>

{% include "global_js.html" %}
<!-- Personal JS -->
<script src={% static "patients/patients.js" %}></script>
</body>
</html>
