<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "global_styles.html" %}
    <link rel="stylesheet" type="text/css" href={% static "homepage/homepage.css" %}>
    <link rel="shortcut icon" type="image/x-icon" href={% static "homepage/home.ico" %}>
</head>

<body>

<!-- Div holding the entire page -->
<div class="wrapper">

    {% include "sidebar.html" %}

    <div id="content">

        {% include "menu_bar.html" %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm main-col" id="alerts-col">
                    <h2>Alerts</h2>

                    <label class="checkbox-inline">
                        <input type="checkbox" value="referred" checked>Referred
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="in-progress" checked>In-Progress
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="ready" checked>Ready
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="done" checked>Done
                    </label>

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle mb-3" type="button" id="dropdownSortButtonAlert"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort By
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownSortButtonAlert">
                            <button type="button" class="btn btn-info dropdown-item sortByFirst">First Name
                            </button>
                            <button type="button" class="btn btn-info dropdown-item sortByLast">Last Name</button>
                        </div>
                    </div>

                    <div class="list-group">
                        {% for current_patient in alert_patients %}
                            {% with current_status=current_patient.patient_status %}
                                <a href="/patients/profile/?id={{ current_patient.id }}"
                                   class="list-group-item list-group-item-action flex-column align-items-start
                                    {% if current_status == "Referred" %}
                                        list-group-item-danger
                                    {% elif current_status == "In-Progress" %}
                                        list-group-item-warning
                                    {% elif current_status == "Ready" %}
                                        list-group-item-success
                                    {% elif current_status == "Done" %}
                                        list-group-item-dark
                                    {% endif %}">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{ current_patient.last_name }}, {{ current_patient.first_name }}</h5>
                                        <small>{{ current_patient.date_of_referral }}</small>
                                    </div>
                                    <h6>MRN: {{ current_patient.record_number }}</h6>
                                    <h6 class="mb-1">Final Procedure(s):
                                        {% for procedure_item in current_patient.patient_final_procedures %}
                                            {% if forloop.last %}
                                                {{ procedure_item.procedure_name }}
                                            {% else %}
                                                {{ procedure_item.procedure_name }},
                                            {% endif %}
                                        {% endfor %}
                                    </h6>
                                    <div class="d-flex w-100 justify-content-between">
                                        <p class="mb-1">Next Procedure(s):
                                            {% for procedure_item in current_patient.get_patient_next_procedures %}
                                                {% if forloop.last %}
                                                    {{ procedure_item.procedure_name }}
                                                {% else %}
                                                    {{ procedure_item.procedure_name }},
                                                {% endif %}
                                            {% endfor %}
                                        </p>
                                    </div>
                                    {% if current_patient.today_flag_reason %}
                                        <p class="mb-1">{{ current_patient.today_flag_reason }}</p>
                                    {% endif %}
                                    {% if current_patient.patient_flagged_reason %}
                                        <p class="mb-1"> Alert Reason: {{ current_patient.patient_flagged_reason }}</p>
                                    {% endif %}
                                    {% if current_patient.behind_flag %}
                                        {% for procedure in current_patient.flag_update %}
                                            {% if procedure.procedure_name %}
                                                <p class="mb-1"> Procedure Behind Goal: {{ procedure.procedure_name }}</p>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <small>{{ current_status }}</small>
                                </a>
                            {% endwith %}
                        {% endfor %}
                    </div>

                </div>

                <div class="col-sm main-col" id="today-col">
                    <h2>Today's Patients</h2>

                    <label class="checkbox-inline">
                        <input type="checkbox" value="referred" checked>Referred
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="in-progress" checked>In-Progress
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="ready" checked>Ready
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="done" checked>Done
                    </label>

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle mb-3" type="button" id="dropdownSortButtonToday"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort By
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownSortButtonToday">
                            <button type="button" class="btn btn-info dropdown-item sortByFirst">First Name
                            </button>
                            <button type="button" class="btn btn-info dropdown-item sortByLast">Last Name</button>
                        </div>
                    </div>

                    <div class="list-group">
                        {% for current_patient in patients %}
                            {% if current_patient.has_incomplete_procedure_today %}
                                {% with current_status=current_patient.patient_status %}
                                    <a href="/patients/profile/?id={{ current_patient.id }}"
                                       class="list-group-item list-group-item-action flex-column align-items-start
                                    {% if current_status == "Referred" %}
                                        list-group-item-danger
                                    {% elif current_status == "In-Progress" %}
                                        list-group-item-warning
                                    {% elif current_status == "Ready" %}
                                        list-group-item-success
                                    {% elif current_status == "Done" %}
                                        list-group-item-dark
                                    {% endif %}">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{ current_patient.last_name }}, {{ current_patient.first_name }}</h5>
                                            <small>{{ current_patient.date_of_referral }}</small>
                                        </div>
                                        <h6>MRN: {{ current_patient.record_number }}</h6>

                                        <h6 class="mb-1">Final Procedure(s):
                                            {% for procedure_item in current_patient.patient_final_procedures %}
                                                {% if forloop.last %}
                                                    {{ procedure_item.procedure_name }}
                                                {% else %}
                                                    {{ procedure_item.procedure_name }},
                                                {% endif %}
                                            {% endfor %}
                                        </h6>

                                        <div class="d-flex w-100 justify-content-between">
                                            <p class="mb-1">Today's Procedure(s):
                                                {% for procedure_item in current_patient.procedures_for_today %}
                                                    {% if forloop.last %}
                                                        {{ procedure_item.procedure_name }}
                                                    {% else %}
                                                        {{ procedure_item.procedure_name }},
                                                    {% endif %}
                                                {% endfor %}
                                            </p>
                                        </div>

                                        <small>{{ current_status }}</small>
                                    </a>
                                {% endwith %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="col-sm main-col" id="patients-col">

                    <h2>All Patients</h2>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="referred" id="referredCheck" checked>Referred
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="in-progress" id="in-progressCheck" checked>In-Progress
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="ready" id="readyCheck" checked>Ready
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="done" id="doneCheck" checked>Done
                    </label>

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle mb-3" type="button"
                                id="dropdownSortButtonPatient"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort By
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownSortButtonPatient">
                            <button type="button" class="btn btn-info dropdown-item sortByFirst">First Name
                            </button>
                            <button type="button" class="btn btn-info dropdown-item sortByLast">Last Name</button>
                        </div>
                    </div>

                    <div class="list-group">
                        {% for current_patient in patients %}
                            {% with current_status=current_patient.patient_status %}
                                <a href="/patients/profile/?id={{ current_patient.id }}"
                                   class="list-group-item list-group-item-action flex-column align-items-start
                                    {% if current_status == "Referred" %}
                                        list-group-item-danger
                                    {% elif current_status == "In-Progress" %}
                                        list-group-item-warning
                                    {% elif current_status == "Ready" %}
                                        list-group-item-success
                                    {% elif current_status == "Done" %}
                                        list-group-item-dark
                                    {% endif %}">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{ current_patient.last_name }}, {{ current_patient.first_name }}</h5>
                                        <small>{{ current_patient.date_of_referral }}</small>
                                    </div>
                                    <h6>MRN: {{ current_patient.record_number }}</h6>

                                    {% if current_patient.patient_final_procedures %}
                                        <h6 class="mb-1">Final Procedure(s):
                                            {% for procedure_item in current_patient.patient_final_procedures %}
                                                {% if forloop.last %}
                                                    {{ procedure_item.procedure_name }}
                                                {% else %}
                                                    {{ procedure_item.procedure_name }},
                                                {% endif %}
                                            {% endfor %}
                                        </h6>
                                    {% endif %}
                                    {% if current_patient.get_patient_next_procedures %}
                                        <div class="d-flex w-100 justify-content-between">
                                            <p class="mb-1">Next Procedure(s):
                                                {% for procedure_item in current_patient.get_patient_next_procedures %}
                                                    {% if forloop.last %}
                                                        {{ procedure_item.procedure_name }}
                                                    {% else %}
                                                        {{ procedure_item.procedure_name }},
                                                    {% endif %}
                                                {% endfor %}
                                            </p>
                                        </div>
                                    {% endif %}
                                    <small>{{ current_status }}</small>
                                </a>
                            {% endwith %}
                        {% endfor %}
                    </div>

                </div>
            </div>
            <div class="row" id="analytics-glance">
                Here is where our analytics at a glance will go.
            </div>
        </div>
    </div>

</div>
{% include "global_js.html" %}
<!-- Personal JS -->
<script src={% static "homepage/homepage.js" %}></script>
</body>
</html>