{% extends 'application.html' %}
{% block content %}
<div class="container-fixed">
{% if failed_login %}
    <div class="alert alert-danger" role="alert">
    <strong>Invalid Login!</strong> Try entering your login information again.
    </div>
    {% else %}
    <p> </p>
    {% endif %}
    <h2> Cardiology Patient Manager </h2>
    <form action="/login/" method="POST"> {% csrf_token %}
        <div class="form-group">
            <label for="loginUsername"> Username</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="loginPassword"> Password</label>
            {{ form.password }}
        </div>
        {% if two_factor %}
        <div class="form-group">
            <label for="loginKey"> ID Key</label>
            {{ form.auth_key }}
        </div>
        <div>
            <a href="/code/">I need a new code</a>
        </div>
        {% endif %}
        <button type="submit" class="btn btn-warning">Login</button>
    </form>
</div>
{% endblock %}