{% block content %}
    {% load octicons %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <span>
                        {% octicon "three-bars" %}
                        Menu
                    </span>
            </button>
        </div>
    </nav>

    {% if breadcrumbs %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% for url_string, name in breadcrumbs %}
                    {% if forloop.last %}
                        <li class="breadcrumb-item active" aria-current="page">{{ name }}</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ url_string }}">{{ name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
    {% endif %}

{% endblock %}