body {
    background-image: url("https://lh3.googleusercontent.com/QeQGhg1dk-xAzxlWebtklKnzHrZgemVp6wKEgOmv0WVg-YOkCrfHhM9goMZCeFnpKJUbXukj0pT2wIvAkaIQcSJv6p7hUKonphuxNoP5TzBcR5SuIk7Kqc9sbyTGuJ0YJqDaegTwwNjkqOhWh8OHbQjmM4y3uOOm8gyEHI2YPbWHk9naw_yDR8v-KbV5svZUeBf3OmzxPythKmNIk1EdL9YK61nl84ql-Nim8AJc-IB28oJ5HS02V48y6sbBNlQnjk898H99-fk_NqSIwt9h9nX8e3-Q3x3kMhaCM1B73CQwvxndHPkzVc-7eIBLRdYxmpLBbgm9T9TdMnT16H_n5m73FEwq7SdYqyTnw2LieTXJCv3l2-7APqLWI4Rhn9SK9s2Wn_OthlD3InscDPJycdzcVyII4TC5Y5BTy2A4gKn8I_HCNsOHX5zBm5VmYlE6PIOlOitLycnpnp4Qf-A-2JWg70xmRv7PmjRtz74790XrOuvR9RGgxeNOBJ3GZZ4MSO2MJqtD1xh5p2XFuZZlVakhZVL6qIYqFoEZ0ixjHF7zmBJDgeYkfIlCFtXQNyBvYUlQtL8d-e1Th00yL441l377vy-JIakCuJwm81D0T78QXMlKbIVG-KuqYvEBBASi2TTG3eYS6Fs-mIf3pDZqH1lK0Wrv1HHJ4dsdefTHoxgNjIj7G0LeOkq9jPhjlE9CztmFWTd-kvy1oiPRa_zR--XQ=w1650-h928-no");
    background-position: center;
    background-size: cover;
}

.container-fixed {
    background: white;
    margin: 13% auto;
    padding: 30px 30px;
    border: 1px solid black;
    border-radius: 10px;
    width: 40%;
}